.centro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }

.texto {
    margin: 20px 0px;
    text-justify: auto;
    font-size: 25px;
    font-family: "Amita", sans-serif;
}

.nome {
    text-align: center;
    margin: 10px 0px;
}

.nome, input {
    height: 20px;
    width: auto;
    border-radius: 5px;
}

.botao, button{
    margin: 35px 0;
    height: 30px;
    width: auto;
    border: 1px solid #a6e4e7;
    border-radius: 5px;
}

